<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body>
    <div class="container">
       <a href="/admin/articles">Artigos</a>
       <a href="/admin/categories">Categorias</a>
       <a href="/admin/users">Usuários</a>
    </div>
</body>


<%- include ('../partials/footer') %>